# 01Python基础02容器型数据类型02_正则表达式入门

## 1 格式化字符串

In [1]:
#输出参数格式：数字中的小数点位数、字符串的大小写等。
#相对位置：标注出被格式化的字符串在整体字符中的位置。

In [43]:
(name,salary)=('zhangsan',29876.54)
myls=['zhangsan',29876.54]

In [7]:
name,salary

('zhangsan', 9876.54)

In [ ]:
#格式化的主要方法
#   %字符
#   $字符
#   format()函数
#   f-string

#被格式化的元素类型：整数、浮点数、字典、列表、类、日期等
#格式的种类：加各种分隔符、进行运算、保留小数点位、各种日期的格式等等

In [9]:
print('%s的工资是 %f' %(name,salary))

zhangsan的工资是 9876.540000

In [12]:
from string import Template
empinfo=dict(Name=name,Salary=salary)
empinfo

{'Name': 'zhangsan', 'Salary': 9876.54}

In [17]:
print(Template('$Name的工资是$Salary').substitute(empinfo))

zhangsan的工资是9876.54

In [8]:
print('{0:s}的工资是{1:.2f}'.format(name,salary))

zhangsan的工资是9876.54

In [19]:
print(f'{name:s}的工资是{salary:.2f}')

zhangsan的工资是9876.54

In [20]:
print(F'{name:s}的工资是{salary:.2f}')

zhangsan的工资是9876.54

In [22]:
print(F'{myls[0]:s}的工资是{myls[1]:.2f}')

zhangsan的工资是9876.54

In [45]:
class Empinfo():
    def __init__(self,Name,Salary):
        self.Name=name
        self.Salary=salary

In [36]:
name

'zhangsan'

In [46]:
salary

29876.54

In [47]:
myempinfo=Empinfo(name,salary)
myempinfo

In [48]:
print(f'{myempinfo.Name}的基本工资是{myempinfo.Salary}')

zhangsan的基本工资是29876.54

In [49]:
print(f'{myempinfo.Name}的基本工资是{myempinfo.Salary:,}')

zhangsan的基本工资是29,876.54

In [51]:
print(f'{myempinfo.Name}的基本工资是{myempinfo.Salary/1000:,.0f}K')

zhangsan的基本工资是30K

In [61]:
from string import Template
import datetime as dt
empinfo=dict(empdt=dt.datetime(2022,1,22),Name=name,Salary=salary)
empinfo

{'empdt': datetime.datetime(2022, 1, 22, 0, 0),
 'Name': 'zhangsan',
 'Salary': 29876.54}

In [65]:
print(f"{empinfo['Name']}入职时间是{empinfo['empdt'].date()},他的基本工资是{empinfo['Salary']/1000:,.0f}K")

zhangsan入职时间是2022-01-22,他的基本工资是30K

## 2 正则表达式基础

In [ ]:
##01 正则表达式的作用 Regular Expression

In [67]:
str1="""
'02/28/2021 08:00:00',90,'T3大数据分析课程';
'02/28/2021 09:00:00',91,'T3数据库原理与应用';
'02/28/2021 10:00:00',92,'T3数据库营销'
"""
str1

"\n'02/28/2021 08:00:00',90,'T3大数据分析课程';\n'02/28/2021 09:00:00',91,'T3数据库原理与应用';\n'02/28/2021 10:00:00',92,'T3数据库营销'\n"

In [75]:
import re
pat01=re.compile(",[0-9][0-9]")

In [76]:
pat01.findall(str1)

[',90', ',91', ',92']

In [77]:
str2="""
1
harry
072007101 aaa
2
peter
072007102 bbb
3
lucy
072007103 ccc
"""

In [85]:
pat02=re.compile("[0][7|8][0-9]{7}")

In [87]:
pat02.findall(str2)

['072007101', '072007102', '072007103']

In [88]:
##2 元字符
#自带特殊含义的字符(集合、次数、并列、转义、提取等)
#原始字符串：raw string 按照字面意思理解、没有转义特殊或不能打印的字符 r-string

In [89]:
#原始字符
print('hello')
print(r'hello')

hello
hello

In [92]:
print('\nhello')
print(r'\nhello')
print('\bhello')

hello
\nhello
hello

In [100]:
#2 元字符--集合
pat=r'[T3大数据分析]'
type(pat)

str

In [2]:
import re
def look_for(p,s):
    return '没有找到' if re.search(p,s) is None else re.findall(p,s)

In [104]:
#明确字符
print(look_for(pat,'T'))
print(look_for(pat,'T3'))
print(look_for(pat,'大数据'))
print(look_for(pat,'信息系统开发'))
print(look_for(pat,'大信息系统开发'))

['T']
['T', '3']
['大', '数', '据']
没有找到
['大']

In [109]:
#范围字符
#[-]
print(look_for(r'[A-Z|0-9]','T3大数据分析'))

['T', '3']

In [112]:
#补集字符
#[^]
print(look_for(r'[^a-zA-Z0-9]','T3大数据分析'))

['大', '数', '据', '分', '析']

In [118]:
#2 元字符--次数字符
#* 星号 检查左边的字符串出现零次或多次
pat=r'[T3大数据*析]'

In [119]:
pat

'[T3大数据*析]'

In [120]:
print(look_for(pat,'分析'))

['析']

In [123]:
print(look_for(pat,'大 数据'))
print(look_for(pat,'T3'))

['大', '数', '据']
['T', '3']

In [125]:
pat=r'T3大数据*析'
print(look_for(pat,'分析'))

没有找到

In [126]:
#[]情况完全不同：列表中的每个元素都可以作为单独匹配 *左边是尽量匹配,ab* a ab abbbbbb

In [128]:
print(look_for(pat,'T3大数据分析T3大数据析'))

['T3大数据析']

In [130]:
# + 左边字符串是否出现一次或多次
pat=r'T3大数据+析'

In [134]:
print(look_for(pat,'T3大数据析大数据'))
print(look_for(pat,'T3大数析大数据'))
print(look_for(pat,'T3大数据据据据析大数据'))

['T3大数据析']
没有找到
['T3大数据据据据析']

In [142]:
pat=r'([a-zA-Z]+[0-9]大数据+析)'
print(look_for(pat,'T3大数据据据据析大数据'))

['T3大数据据据据析']

In [144]:
pat=r'([a-zA-Z]*[0-9]大数据+析)'
print(look_for(pat,'T3大数据据据据析大数据'))

['T3大数据据据据析']

In [146]:
pat=r'([a-zA-Z]+[0-9]大数据+(?:开始|结束))'
print(look_for(pat,'TTTTT3大数据据据据析大数据开始'))

没有找到

In [150]:
pat=r'([a-zA-Z]+[0-9]大数据+(?:开始|结束))'
print(look_for(pat,'T3大数据开始'))

['T3大数据开始']

In [ ]:
pat=r'([a-zA-Z]+[0-9]大数据+(?:开始|结束))'
print(look_for(pat,'T3大数据结束开始'))

In [154]:
# ? 检查左边的字符串是否出现零次或一次  ab?  a或者ab
pat=r'T3大数据?析'

In [156]:
print(look_for(pat,'TTTT3大数据析结束开始'))

['T3大数据析']

In [157]:
#贪婪模式：
    # * 表示可跟随0个或多个字符
    # + 表示可跟随1个或多个字符
    # ? 表示可跟随0个或1个字符
    
#非贪婪模式：
    # *？ 表示可跟随0个或多个字符，但只取第一个
    # +？ 表示可跟随1个或多个字符，但只取第一个
    # ?？ 表示可跟随0个或1个字符，但只取第一个

In [158]:
heading=r'<title>首页 - 福州大学</title>'
heading

'<title>首页 - 福州大学</title>'

In [162]:
pat1=r'<.+>'
print(look_for(pat1,heading))

['<title>首页 - 福州大学</title>']

In [164]:
pat2=r'<.+?>'
print(look_for(pat2,heading))

['<title>', '</title>']

In [169]:
pat3=r'>.+<'
print(look_for(pat3,heading))

['>首页 - 福州大学<']

In [170]:
#次数符号 大括号
    # {n} 左边字符串是否出现了n次
    # {n,} 左边字符串是否出现了大于等于n次
    # {,n} 左边字符串是否出现了小于等于n次
    # {n,m} 左边字符串是否出现在n次和m次之间

In [2]:
s1='TT3大数据分析大数据分析析析析析TTT3开始结束结束T3'

In [6]:
print(look_for(r'[a-zA-Z]{1,3}',s1))

['TT', 'TTT', 'T']

In [ ]:
##2 元字符--并列字符
|

In [8]:
pat=r'数据|分析'
print(look_for(pat,s1))

['数据', '分析', '数据', '分析']

In [9]:
##2 元字符--提取字符()

In [12]:
pat=r'T3(大数据|分析课|分析)'

In [13]:
print(look_for(pat,s1))

['大数据']

In [16]:
print(look_for(pat,'T3大数据'))
print(look_for(pat,'T3分析'))
print(look_for(pat,'T3分析课'))

['大数据']
['分析']

In [20]:
pat=r'(T3(大数据|分析课|分析))'

In [22]:
print(look_for(pat,'T3大数据'))
print(look_for(pat,'T3分析'))
print(look_for(pat,'T3分析课'))

[('T3大数据', '大数据')]
[('T3分析', '分析')]
[('T3分析课', '分析课')]

In [26]:
pat=r'(T3(?:大数据|分析课|分析))'

In [27]:
print(look_for(pat,'T3大数据'))
print(look_for(pat,'T3分析'))
print(look_for(pat,'T3分析课'))

['T3大数据']
['T3分析']
['T3分析课']

In [34]:
pat=r'(T3(?!大数据|分析课|分析))'

In [35]:
print(look_for(pat,'T3大数据'))
print(look_for(pat,'T3分析'))
print(look_for(pat,'T3分析课'))

没有找到
没有找到
没有找到

In [48]:
pat=r'(T3(?=大数据|分析课|分析))'

In [61]:
print(look_for(pat,'T3大数据'))
print(look_for(pat,'T3分析'))
print(look_for(pat,'T3分析课'))

没有找到
没有找到
没有找到

In [59]:
pat=r'((?<=all|one)student)' #零宽断言定长宽度

In [62]:
print(look_for(pat,'onestudent'))
print(look_for(pat,'allstudent'))
print(look_for(pat,'everystudent'))
print(look_for(pat,'nonestudent'))

['student']
['student']
没有找到
['student']

In [63]:
##2 元字符--转义字符
    # . 匹配除换行符以外的所有字符
    # ^ 匹配文本行的开头字符，和[]一起使用表示补集
    # $ 匹配文本行的结尾字符
    # \ 将特殊字符转换成为自身含义;将自身字符转换成特殊字符

In [64]:
pat=r'.'

In [65]:
print(look_for(pat,'onestudent'))
print(look_for(pat,'allstudent'))
print(look_for(pat,'everystudent'))
print(look_for(pat,'nonestudent'))

['o', 'n', 'e', 's', 't', 'u', 'd', 'e', 'n', 't']
['a', 'l', 'l', 's', 't', 'u', 'd', 'e', 'n', 't']
['e', 'v', 'e', 'r', 'y', 's', 't', 'u', 'd', 'e', 'n', 't']
['n', 'o', 'n', 'e', 's', 't', 'u', 'd', 'e', 'n', 't']

In [74]:
pat=r'^a[\w]*'

In [77]:
print(look_for(pat,'one student'))
print(look_for(pat,'all students'))
print(look_for(pat,'all_students'))
print(look_for(pat,'every student'))
print(look_for(pat,'none student'))

没有找到
['all']
['all_students']
没有找到
没有找到

In [10]:
pat=r'[^a][\w]*'

In [12]:
print(look_for(pat,'one student'))
print(look_for(pat,'all students'))
print(look_for(pat,'every student'))
print(look_for(pat,'none student'))

['one', ' student']
['ll', ' students']
['every', ' student']
['none', ' student']

In [13]:
pat=r'[\w]*s$'

In [15]:
print(look_for(pat,'one student'))
print(look_for(pat,'all students'))
print(look_for(pat,'every student'))
print(look_for(pat,'none student'))

没有找到
['students']
没有找到
没有找到

In [16]:
#反斜杠——自身-->特殊
'''
\b:匹配空字符串，但仅适用于单词的"首尾"
\B:匹配空字符串，但仅适用于单词的"非首尾"
\d:匹配任何"数字"字符，等价于[0-9]
\D:匹配任何"非数字"字符，等价于[^0-9]
\s:匹配任何"空白"字符，等价于[ \t\n\r]
\S:匹配任何"非空白"字符，等价于[^ \t\n\r]
\w:匹配任何"字母数字下划线"字符，等价于[a-zA-Z0-9_]
\W:匹配任何"非字母数字下划线"字符，等价于[^a-zA-Z0-9_]
\A:匹配句子的"开头"字符，等价于 ^
\Z:匹配句子的"结尾"字符，等价于 $
\t:匹配句子的"制表键(tab)"字符
\r:匹配句子的"回车键(return)"字符
\n:匹配句子的"换行键(newline)"字符
'''

'\n\x08:匹配空字符串，但仅适用于单词的"首尾"\n\\B:匹配空字符串，但仅适用于单词的"非首尾"\n\\d:匹配任何"数字"字符，等价于[0-9]\n\\D:匹配任何"非数字"字符，等价于[^0-9]\n\\s:匹配任何"空白"字符，等价于[ \t\n\r]\n\\S:匹配任何"非空白"字符，等价于[^ \t\n\r]\n\\w:匹配任何"字母数字下划线"字符，等价于[a-zA-Z0-9_]\n\\W:匹配任何"非字母数字下划线"字符，等价于[^a-zA-Z0-9_]\n\\A:匹配句子的"开头"字符，等价于 ^\n\\Z:匹配句子的"结尾"字符，等价于 $\n\t:匹配句子的"制表键(tab)"字符\n\r:匹配句子的"回车键(return)"字符\n\n:匹配句子的"换行键(newline)"字符\n'

In [14]:
pat=r'\bstudent\b'
print(look_for(pat,'one student '))
print(look_for(pat,'all students'))
print(look_for(pat,'every student'))
print(look_for(pat,'nonestudent'))

['student']
没有找到
['student']
没有找到

In [16]:
pat=r'\Bstudent\B'
print(look_for(pat,'one student '))
print(look_for(pat,'all student'))
print(look_for(pat,'every student'))
print(look_for(pat,'nonestudents'))

没有找到
没有找到
没有找到
['student']

In [18]:
pat=r'\d+'
print(look_for(pat,'1 student '))
print(look_for(pat,'150 student'))
print(look_for(pat,'every student'))
print(look_for(pat,'nonestudents'))

['1']
['150']
没有找到
没有找到

In [20]:
pat=r'\D+'
print(look_for(pat,'1 student '))
print(look_for(pat,'150 student'))
print(look_for(pat,'every student'))
print(look_for(pat,'nonestudents'))

[' student ']
[' student']
['every student']
['nonestudents']

In [22]:
pat=r'\s+'
print(look_for(pat,'1 student '))
print(look_for(pat,'150 student'))
print(look_for(pat,'every student'))
print(look_for(pat,'nonestudents'))

[' ', ' ']
[' ']
[' ']
没有找到

In [23]:
s='''
\b:匹配空字符串，但仅适用于单词的"首尾"
\B:匹配空字符串，但仅适用于单词的"非首尾"
\d:匹配任何"数字"字符，等价于[0-9]
\D:匹配任何"非数字"字符，等价于[^0-9]
\s:匹配任何"空白"字符，等价于[ \t\n\r]
\S:匹配任何"非空白"字符，等价于[^ \t\n\r]
\w:匹配任何"字母数字下划线"字符，等价于[a-zA-Z0-9_]
\W:匹配任何"非字母数字下划线"字符，等价于[^a-zA-Z0-9_]
\A:匹配句子的"开头"字符，等价于 ^
\Z:匹配句子的"结尾"字符，等价于 $
\t:匹配句子的"制表键(tab)"字符
\r:匹配句子的"回车键(return)"字符
\n:匹配句子的"换行键(newline)"字符
'''

In [26]:
pat=r'\S+'
print(look_for(pat,s))

['\x08:匹配空字符串，但仅适用于单词的"首尾"', '\\B:匹配空字符串，但仅适用于单词的"非首尾"', '\\d:匹配任何"数字"字符，等价于[0-9]', '\\D:匹配任何"非数字"字符，等价于[^0-9]', '\\s:匹配任何"空白"字符，等价于[', ']', '\\S:匹配任何"非空白"字符，等价于[^', ']', '\\w:匹配任何"字母数字下划线"字符，等价于[a-zA-Z0-9_]', '\\W:匹配任何"非字母数字下划线"字符，等价于[^a-zA-Z0-9_]', '\\A:匹配句子的"开头"字符，等价于', '^', '\\Z:匹配句子的"结尾"字符，等价于', '$', ':匹配句子的"制表键(tab)"字符', ':匹配句子的"回车键(return)"字符', ':匹配句子的"换行键(newline)"字符']

In [29]:
pat=r'\w+'
print(look_for(pat,'1 student '))
print(look_for(pat,'150 student'))
print(look_for(pat,'every student'))
print(look_for(pat,'none\nstudents'))

['1', 'student']
['150', 'student']
['every', 'student']
['none', 'students']

In [31]:
pat=r'\W+'
print(look_for(pat,'1 student '))
print(look_for(pat,'150 student'))
print(look_for(pat,'every student'))
print(look_for(pat,'none\nstudents'))

[' ', ' ']
[' ']
[' ']
['\n']

In [35]:
pat1=r'^s[\w]*'
pat2=r'\As[\w]*'
print(look_for(pat2,'student '))
print(look_for(pat2,'student'))
print(look_for(pat2,'every student'))
print(look_for(pat2,'none\nstudents'))

['student']
['student']
没有找到
没有找到

In [40]:
pat1=r'^[\w]*t$'
pat2=r'^[\w]*t\Z'
print(look_for(pat1,'student '))
print(look_for(pat1,'student'))
print(look_for(pat1,'every student'))
print(look_for(pat1,'none\nstudents'))

没有找到
['student']
没有找到
没有找到

## 3 RE函数

In [3]:
stus="""
1
harry
072007101 aaa
2
peter
072007102 bbb
3
lucy
072007103 ccc
"""

In [6]:
import re

In [7]:
pat=re.compile('[0][7][0-9]{7}')

In [51]:
pat.findall(stus)

['072007101', '072007102', '072007103']

In [49]:
re.findall(pat,stus)

['072007101', '072007102', '072007103']

In [54]:
print(re.findall(r'[0][7][0-9]{7}',stus))

['072007101', '072007102', '072007103']

In [55]:
#正则表达式下常用的函数：
    # match(pat.str):检查字符串的开头是否符合某个模型
    # search(pat,str):检查字符串任意位置是否符合某个模型
    # findall(pat,str):返回所有符合某个模型的字符串，以列表方式
    # finditer(pat,str):返回所有符合某个模型的字符串，以迭代器形式输出
    # split(pat,str):以某个模型为分割点，拆分整个字符串为一系列字符串，以列表形式
    # sub(pat,repl,str):str中找到匹配某个模型的所有字符串，用其他字符串进行代替
    # compile(pat):对某个模型进行翻译，以便后期使用

In [26]:
##3.1 match函数
stus
l1='经济与管理学院T3大数据分析课程经管类'

In [8]:
print(re.match(r'\n1',stus))

<re.Match object; span=(0, 2), match='\n1'>

In [9]:
print(re.match(r'T3',l1))

None

In [12]:
print(re.match(r'经济',l1).group())

经济

In [13]:
##3.2 Search函数

In [16]:
print(re.search(r'数据',l1))
print(re.search(r'数据',l1).group())

<re.Match object; span=(10, 12), match='数据'>
数据

In [17]:
#3.3 FindAll函数

In [22]:
print(re.findall(r'经',l1))

['经', '经']

In [27]:
#3.4 finditer函数
l1

'经济与管理学院T3大数据分析课程经管类'

In [31]:
print([i for i in re.findall(r'经',l1)])
print([i for i in re.finditer(r'经',l1)])

['经', '经']
[<re.Match object; span=(0, 1), match='经'>, <re.Match object; span=(16, 17), match='经'>]

In [34]:
##3.5 split函数
stus

'\n1\nharry\n072007101 aaa\n2\npeter\n072007102 bbb\n3\nlucy\n072007103 ccc\n'

In [37]:
print(re.split(r'\n[0][7][0-9]{7}',stus))

['\n1\nharry', ' aaa\n2\npeter', ' bbb\n3\nlucy', ' ccc\n']

In [38]:
##3.6 sub函数

In [42]:
print(re.sub(r'\n','-',stus))

-1-harry-072007101 aaa-2-peter-072007102 bbb-3-lucy-072007103 ccc-

In [ ]:
##3.7 compile函数

In [65]:
str1="""
'02/28/2021 08:00:00',90,'T3_大数据分析课程';
'02/28/2021 09:00:00',91,'T3_数据库原理与应用';
'02/28/2021 10:00:00',92,'T3_数据库营销'
"""
str1

"\n'02/28/2021 08:00:00',90,'T3_大数据分析课程';\n'02/28/2021 09:00:00',91,'T3_数据库原理与应用';\n'02/28/2021 10:00:00',92,'T3_数据库营销'\n"

In [48]:
pat=r"',([0-9]{2}),'"
obj=re.compile(pat)

In [53]:
print(obj.match(str1))
print(obj.search(str1))
print(obj.findall(str1))
print([i for i in obj.finditer(str1)])
print(obj.sub('**',str1))

None
<re.Match object; span=(21, 27), match="',90,'">
['90', '91', '92']
[<re.Match object; span=(21, 27), match="',90,'">, <re.Match object; span=(59, 65), match="',91,'">, <re.Match object; span=(98, 104), match="',92,'">]

'02/28/2021 08:00:00**T3大数据分析课程';
'02/28/2021 09:00:00**T3数据库原理与应用';
'02/28/2021 10:00:00**T3数据库营销'

In [61]:
pat2=r"'(T3.+)'"
obj2=re.compile(pat2)

In [63]:
print(obj2.findall(str1))

['T3大数据分析课程', 'T3数据库原理与应用', 'T3数据库营销']

In [66]:
for course in obj2.findall(str1):
    print(re.split(r'_',course))

['T3', '大数据分析课程']
['T3', '数据库原理与应用']
['T3', '数据库营销']